.DS_Store
polianna-dataset
secrets
secrets_config.env
test_data/v16
ontology/old_versions
experiments/results/ollama_tests
__pycache__/
*.py[cod]
src/inference/__pycache__/__init__.cpython-39.pyc
ontology/ontology-converter
.pytest_cache
.openai_ft_cache.json
inference/__pycache__
experiment-1/problematic_files
experiment-1/results/test_results
experiment-2-jsonld/results/test_results
experiment-2-raw/results/test_results
src/inference/__pycache__